.wrapper {
  position: relative;
  width: 100%;
}

.container {
  display: flex;
  overflow-x: auto;
  scrollbar-width: none;
}

.container::-webkit-scrollbar {
  display: none;
}

.fadeRight {
  position: absolute;
  top: 0;
  right: 0;
  width: 60px;
  height: 100%;
  pointer-events: none;

  background: linear-gradient(to left, rgb(var(--azul-900)), rgba(255, 255, 255, 0));
}

.card {
  border: 0.5px solid white;
  border-radius: 0.5em;
  background-color: rgba(255, 255, 255, 0.05);
  color: rgb(var(--azul-900));
  overflow: hidden;

  flex: 0 0 auto;
  width: 20vw;
  height: fit-content;
}

.cardTitle {
  color: rgb(var(--azul-900)) !important;
}

.cardTitleDivContent p {
  color: white;
  font-weight: 300 !important;
}

.card div {
  padding: 1em;
}