.wrapper {
  position: relative;
  width: 100%;
}

.container {
  display: flex;
  overflow-x: auto;
  scrollbar-width: none;
}

.container::-webkit-scrollbar {
  display: none;
}

.fadeRight {
  position: absolute;
  top: 0;
  right: 0;
  width: 60px;
  height: 100%;
  pointer-events: none;

  background: linear-gradient(to left, rgb(var(--azul-900)), rgba(255, 255, 255, 0));
}

.card {
  border: 0.5px solid white;
  padding: 1em;
  border-radius: 0.5em;
  background-color: rgba(255, 255, 255, 0.05);

  flex: 0 0 auto; /* clave para scroll horizontal */
  width: 20vw; /* reemplaza el 1/5vw inválido */
}
